#option {
position: fixed;
width: 25%;
height: 100px;
margin-top: 8%;
margin-left: 1%;
}
.form_titre {
    margin-left: 20px;
    border-bottom: 3px green solid;
    border-radius: 10px;
    font-family: century;
    font-size: 20px;
}
#form_titre {
    margin-left: 20px;
    border-bottom: 3px green solid;
    border-radius: 10px;
    font-family: century;
    font-size: 32px;
}
#connexion-logo{
    margin-top: 11%;
    margin-left: 17%;
    margin-bottom: 6%;
}